*,
*::before,
*::after {
    margin: 0;
    left: 0;
    box-sizing: border-box;
}

html {

    background-color: $mainBackgroundColor;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: scroll;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;

    body {
        font-family: "Poppins", sans-serif;
        color: $darkTextColor;
        font-weight: 400;
        line-height: 1.3;
    }

}