{% load static %}

{% include "includes/layouts/header.html" %}

    <!-- CONTROLLER BOARD -->
    <main id="pfe-controller-board">

     {% include "includes/layouts/navbar.html" %}

        <!-- temperature-d-echapement-des-cylindres -->
        <div class="temperature-d-echapement-des-cylindres">


            <div class="cylinders-bars">

                <div class="cylinder-item item-1">

                    <span class="line">

                        <span class="progress-value" data-value="0" data-charge="50"></span>

                        <div class="lines-degree">

                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                        <div class="lines-degree-value">

                            <span>520</span>
                            <span>450</span>
                            <span>310</span>
                            <span>0</span>

                        </div>

                    </span>
                    
                    <span class="base">
                        <h4>Cylindre 1</h4>
                    </span>

                </div>

                <div class="cylinder-item item-2">

                    <span class="line">

                        <span class="progress-value" data-value="0" data-charge="50"></span>

                        <div class="lines-degree">

                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                        <div class="lines-degree-value">

                            <span>520</span>
                            <span>450</span>
                            <span>310</span>
                            <span>0</span>

                        </div>

                    </span>
                    
                    <span class="base">
                        <h4>Cylindre 2</h4>
                    </span>

                </div>

                <div class="cylinder-item item-3">

                    <span class="line">

                        <span class="progress-value" data-value="0" data-charge="50"></span>

                        <div class="lines-degree">

                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                        <div class="lines-degree-value">

                            <span>520</span>
                            <span>450</span>
                            <span>310</span>
                            <span>0</span>

                        </div>

                    </span>
                    
                    <span class="base">
                        <h4>Cylindre 3</h4>
                    </span>

                </div>

                <div class="cylinder-item item-4">

                    <span class="line">

                        <span class="progress-value" data-value="0" data-charge="50"></span>

                        <div class="lines-degree">

                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                        <div class="lines-degree-value">

                            <span>520</span>
                            <span>450</span>
                            <span>310</span>
                            <span>0</span>

                        </div>

                    </span>
                    
                    <span class="base">
                        <h4>Cylindre 4</h4>
                    </span>

                </div>

                <div class="cylinder-item item-5">

                    <span class="line">

                        <span class="progress-value" data-value="0" data-charge="50"></span>

                        <div class="lines-degree">

                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                        <div class="lines-degree-value">

                            <span>520</span>
                            <span>450</span>
                            <span>310</span>
                            <span>0</span>

                        </div>

                    </span>
                    
                    <span class="base">
                        <h4>Cylindre 5</h4>
                    </span>

                </div>

                <div class="cylinder-item item-2">

                    <span class="line">

                        <span class="progress-value" data-value="0" data-charge="50"></span>

                        <div class="lines-degree">

                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>

                        </div>

                        <div class="lines-degree-value">

                            <span>520</span>
                            <span>450</span>
                            <span>310</span>
                            <span>0</span>

                        </div>

                    </span>
                    
                    <span class="base">
                        <h4>Cylindre 6</h4>
                    </span>

                </div>
                

            </div>


        </div>
        <!-- / END temperature-d-echapement-des-cylindres -->


        {% block contentformateur %}
            {% include "includes/template-parts/directories.html" %}
        {% endblock %}


        <audio id="start-timer-sound" src="{% static 'media/start.wav' %}" type="audio/mp3"></audio>
        
 </main>

{% include "includes/layouts/footer.html" %}