
<!DOCTYPE html>

{% load static %}

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Mohamed Mouid" />
        <meta name="description" content="Project description will be here" />
        <title>{{title_web_page}} </title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'fonts/poppins/css/poppins.min.css' %}" />
        <link rel="stylesheet" href="{% static 'fonts/lineawesome/css/line-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/core.css' %}">

    </head>

    <body>