<!-- HEADER -->
<header>

    <div class="buttons-container">

        <div class="flex">

            <!-- BUTTONS -->

            <!-- TIMER -->
            <a href="#" class="primary-button wide-button timer-button">
                <span>Start</span>
                <span class="timer-output">00:00:00</span>
            </a>
            <!-- / END TIMER -->

            <!-- URGENCE -->
            <a href="#" class="primary-button wide-button danger-text">Arret D'urgence</a>
            <!-- / URGENCE BUTTON -->


            <a href="#" class="primary-button wide-button">{{picture}} </a>

            <div href="#" class="primary-button wide-button heading-text fuel">
                <h1>{{title}}</h1>
            </div>

            <div class="primary-button wide-button heading-text alarms">
                <span class="alarms-heading">Alarms</span>
                <div class="alarms-elements">

                    <div class="column">
                        <div class="alarm-icon">
                            <i class="las la-volume-up"></i>
                        </div>
                    </div>
                    <div class="column">
                        <div class="alarm-icon">
                            <i class="lab la-gitter"></i>
                        </div>
                    </div>
                        <div class="column">
                        <div class="alarm-icon text-icon">
                            <span>P</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="alarm-icon text-icon">
                            <span>T</span>
                        </div>
                    </div>
                    <div class="column">
                        <div class="alarm-icon text-icon">
                            <span>G</span>
                        </div>
                    </div>

                        <div class="column">

                        <div class="alarm-icon has-list">

                            <i class="las la-fire"></i>

                            <div class="fire-list">
                                <span class="circle blue"></span>
                                <span class="circle white"></span>
                                <span class="circle black"></span>
                            </div>

                        </div>

                    </div>


                </div>
            </div>


            <a class="logo-image primary-button wide-button">
                <span>Logo Image</span>
            </a>
            <!-- / END BUTTONS -->
        
        </div>

    </div>


</header>
<!-- / END HEADER -->